/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: inherit;
	vertical-align: baseline;
	font-family: "-apple-system","BlinkMacSystemFont","PingFang SC","Segoe UI","Microsoft YaHei","Helvetica Neue","Arial","Noto Sans","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color emoji";
}

input,button{
	-webkit-appearance:none;
}

a:link, a:visited, a:hover {
    text-decoration: none;
}
.kyligence-zen-ml-toolkit{
    width: 100%;
    min-height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kyligence-zen-ml-toolkit .upload-box{
    width: 100%;
    padding: 32px;
}
.kyligence-zen-ml-toolkit .upload-box .el-upload{
    display: block;
}
.kyligence-zen-ml-toolkit .upload-box .el-upload .el-upload-dragger{
    width: 100%;
}
.kyligence-zen-ml-toolkit .upload-box .error-msg{
    color:#ff4159;
    font-size: 12px;
    margin-top:5px;
    text-align: center;
}
.kyligence-zen-ml-toolkit .upload-box .el-upload__tip{
    text-align: center;
}
.kyligence-zen-ml-toolkit .dowload-box {
    width: 100%;
    padding: 32px;
}
.kyligence-zen-ml-toolkit .dowload-box .btn-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: 1px dashed #409EFF;
    border-radius: 6px;
    box-sizing: border-box;
}
.kyligence-zen-ml-toolkit .dowload-box .btn{
    min-width: 120px;
    padding: 11px 20px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    background-color: #1268fb;
    border-radius: 4px;
    text-transform: uppercase;
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    margin-bottom: 10px;
}
.kyligence-zen-ml-toolkit .dowload-box .btn:hover{
    background-color: #498cff;
}

.kyligence-zen-ml-toolkit .dowload-box .btn i{
    font-weight: bold;
}